body {
  font-family: Helvetica;
  padding:20px;
  color:white;
  background-color: #e0115f;
}

@media only screen and (min-width: 641px){
   .parent {
   display: flex;
 }
}

#selection, #affects {
  font-size: 20pt;
}

.showOnGenerate {
  font-size: 20pt;
  display: none;
}

#mainStatement {
  font-size: 70pt;
  padding-top: 20px;
  padding-right:10px;
  flex: 2;
}

#pastStatements {
  flex: 1;
  float: right;
  padding-right: 10px;
}
